/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms linear;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}


/* HIDE SCROLLBARS */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* GENERAL CLASSES */
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white
}
.invert {
  filter: invert(100%);
}
.pointer {
  cursor: pointer
}
.flex {
  display: flex
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.none {
  display: none
}